<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="row">
        <div class="col-12">
          {{output}}
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="takeInput('7')">7</button>
        <button class="btn btn-primary" (click)="takeInput('8')">8</button>
        <button class="btn btn-primary" (click)="takeInput('9')">9</button>
        <button class="btn btn-primary" (click)="takeInput('=')">=</button>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="takeInput('6')">6</button>
        <button class="btn btn-primary" (click)="takeInput('5')">5</button>
        <button class="btn btn-primary" (click)="takeInput('4')">4</button>
        <button class="btn btn-primary" (click)="takeInput('+')">+</button>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="takeInput('3')">3</button>
        <button class="btn btn-primary" (click)="takeInput('2')">2</button>
        <button class="btn btn-primary" (click)="takeInput('1')">1</button>
        <button class="btn btn-primary" (click)="takeInput('-')">-</button>
      </div>
    </div>
  </div>
</div>
